<%- include ../head.ejs %>
	<header>
		<a href="../item/new">Create an item</a>
	</header>
	<table>
		<thead>
			<tr><td>name</td><td>text</td><td>actions</td></tr>
		</thead>
		<tbody>
			<% for (var i = 0; i < items.length; i++) { %>
				<% i = items[i]; %>
				<tr>
					<td><a href="../item/<%= i._id %>"><img src="../img/<%= i.name.replace(/\s+/g, '') %>.svg" /><%= i.name %></a></td>
					<td><a href="../item/<%= i._id %>"><%= i.text %></a></td>
					<td><%= i.action %></td>
				</tr>
			<% } %>
		</tbody>
	</table>
<%- include ../foot.ejs %>